<div class="row">
  <div class="foolong-col-3 foolong-col-m-6" *ngFor="let card of cards;">
    <!-- Component-2: MD Card: START-->
    <md-card>
      <md-card-header>
        <md-card-title>{{card.text}}</md-card-title>
        <md-card-subtitle>sub title</md-card-subtitle>
      </md-card-header>
      <img md-card-image [src]="card.url">
      <md-card-content>Food item description with key ingredients.</md-card-content>
      <md-card-actions>
        <button md-button style="color:dodgerblue">LIKE</button>
        <button md-button style="color:dodgerblue">SHARE</button>
      </md-card-actions>
      <!--<md-card-footer>card footer</md-card-footer>-->
    </md-card>
    <!-- END -->
  </div>
</div>
