<md-sidenav-container fullscreen>
  <div>
    <md-toolbar>
      <div>
        <button md-icon-button (click)="start.toggle()">
          <md-icon class="material-icons md-30">menu</md-icon>
        </button>
        <span style="vertical-align:middle;">{{title}}</span>
      </div>
      <div>
        <app-search-icon></app-search-icon>
        <app-cart-icon></app-cart-icon>
        <app-account-icon></app-account-icon>
      </div>
      <md-toolbar-row>
        <div class="foolong-col-12 material-icons md-30" mdTooltip="Distance Slider" mdTooltipShowDelay="1000">
          <md-slider min="1" max="5" step="0.5" value="1.5" style="width:100%"></md-slider>
        </div>
        <md-icon class="material-icons md-30" mdTooltip="Filter" mdTooltipShowDelay="1000">tune</md-icon>
      </md-toolbar-row>
    </md-toolbar>
  </div>

  <!-- MD SIDENAV: START -->
  <md-sidenav #start mode="over" style="width: 300px;" [opened]="false">
    <md-card>
      <md-card-title>
        <button md-icon-button (click)="start.toggle()"><md-icon>arrow_back</md-icon></button>
        <span style="vertical-align:middle;">Foodz9</span>
      </md-card-title>
    </md-card>
    <app-sidenav-list></app-sidenav-list>
  </md-sidenav>
  <!-- MD SIDENAV: END -->

  <div id="md-tab">
    <md-tab-group>
      <md-tab label="Instant offers">
        <!-- <h4 *ngIf="isLoading"><i>Loading... </i></h4> -->
        <div class="row">
          <div 
            class="foolong-col-3 foolong-col-m-6" 
            *ngFor="let fooditem of foodItems|async;" 
            [routerLink]="['/detail', fooditem.$key]">
            <app-fooditem [foodItem]="fooditem"></app-fooditem>
          </div>
        </div>
      </md-tab>

      <md-tab label="Pre Order">
        <md-card>Item for pre-order!</md-card>
      </md-tab>

      <md-tab label="Wish List">
        <md-card>Please serve this!</md-card>
      </md-tab>
    </md-tab-group>
  </div>

</md-sidenav-container>

<div class="done">
  <a md-fab routerLink="/add-fooditem" routerLinkActive="active">
    <md-icon>add</md-icon>
  </a>
</div>