<div>
  <md-sidenav-container fullscreen>
    <!-- MD SIDENAV: START -->
    <md-sidenav #startLeftSideNav mode="over" style="width: 300px;" [opened]="false" align="left">
      <md-nav-list>
        <md-list-item>Home</md-list-item>
        <md-list-item>My Orders</md-list-item>
        <md-list-item>Cart</md-list-item>
        <md-list-item>Wish List</md-list-item>
        <md-list-item>Language</md-list-item>
        <md-list-item>Download APP</md-list-item>
        <md-list-item>Help Center</md-list-item>
        <md-list-item>Feedback</md-list-item>
      </md-nav-list>
    </md-sidenav>
    <!-- MD SIDENAV: END -->

    <!-- Component-1: MD Toolbar: START -->
    <md-toolbar>
      <div>
        <button md-icon-button (click)="startLeftSideNav.toggle()">
              <md-icon class="material-icons md-30">menu</md-icon>
          </button>
          <span>{{title}}</span>
      </div>
      <div>
      <button md-icon-button mdTooltip="Search" mdTooltipShowDelay="1000"><md-icon class="material-icons md-30" style="color:dodgerblue">search</md-icon></button>
      <button md-icon-button mdTooltip="Cart" mdTooltipShowDelay="1000"><md-icon class="material-icons md-30" style="color:dodgerblue">add_shopping_cart</md-icon></button>
      <button md-icon-button mdTooltip="Account" mdTooltipShowDelay="5000"><md-icon class="material-icons md-30" style="color:dodgerblue">account_circle</md-icon></button>
      </div>
      <md-toolbar-row>
        <div class="foolong-col-12 material-icons md-30" mdTooltip="Distance Slider" mdTooltipShowDelay="1000">
          <md-slider 
            min="1" 
            max="5" 
            step="0.5" 
            value="1.5"
            style="width:100%"></md-slider>
        </div>
         <md-icon class="material-icons md-30" mdTooltip="Filter" mdTooltipShowDelay="1000">tune</md-icon>
      </md-toolbar-row>
    </md-toolbar>
    <!-- END -->
    <div>
      <md-tab-group>
        <md-tab label="Instant offers new you">
          <app-food-item></app-food-item>
        </md-tab>
        <md-tab label="Pre Order">
          <md-card>PreOrder Now!</md-card>
        </md-tab>
        <md-tab label="Make a request">
          <md-card>Please serve this!</md-card>
        </md-tab>
      </md-tab-group>
    </div>
  </md-sidenav-container>
</div>
<div class="done">
  <button md-fab>
      <md-icon>add</md-icon>
    </button>
</div>