<div>
  <md-sidenav-container fullscreen>
    <!-- MD SIDENAV: START -->
    <md-sidenav #start mode="over" style="width: 300px;" [opened]="false">
      <md-nav-list>
        <md-list-item>Home</md-list-item>
        <md-list-item>My Orders</md-list-item>
        <md-list-item>Cart</md-list-item>
        <md-list-item>Wish List</md-list-item>
        <md-list-item>Language</md-list-item>
        <md-list-item>Download APP</md-list-item>
        <md-list-item>Help Center</md-list-item>
        <md-list-item>Feedback</md-list-item>
      </md-nav-list>
    </md-sidenav>
    <!-- MD SIDENAV: END -->

    <!-- Component-1: MD Toolbar: START -->
    <md-toolbar>
      <div>
        <button md-icon-button (click)="start.toggle()">
              <md-icon>menu</md-icon>
          </button> Foolong
      </div>
      <button md-icon-button><md-icon>shopping_cart</md-icon></button>
      <md-toolbar-row>
        <div class="foolong-col-12">
          <md-input-container class="foolong-col-12">
            <md-placeholder>
              <md-icon>search</md-icon>
            </md-placeholder>
            <input mdInput/>
          </md-input-container>
        </div>
      </md-toolbar-row>
    </md-toolbar>
    <!-- END -->
    <div>
      <md-tab-group>
        <md-tab label="Instant Order">
          <app-food-item></app-food-item>
        </md-tab>
        <md-tab label="Pre Order">
          <md-card>PreOrder Now!</md-card>
        </md-tab>
        <md-tab label="Make a request">
          <md-card>Please serve this!</md-card>
        </md-tab>
      </md-tab-group>
    </div>
  </md-sidenav-container>
</div>
<div class="done">
  <button md-fab>
      <md-icon>add</md-icon>
    </button>
</div>