<div class="row">
  <div class="foolong-col-3 foolong-col-m-6">
    <md-card>
      <md-card-header>
        <div md-card-avatar style="background-image:url('../../assets/images/sounth.jpeg')"></div>
        <md-card-title>Ambikesh</md-card-title>
        <md-card-subtitle>{{singleFoodItem.foodTitle}}</md-card-subtitle>
      </md-card-header>
      <img style="height:240px;" routerLink="/checkout" md-card-image [src]="singleFoodItem.foodImagePath">
      <md-card-content style="height:50px">{{singleFoodItem.foodDescription}}</md-card-content>
      <md-card-actions>
      <!--  <button md-button routerLink="/checkout" (click)="oncheckoutFooditem(singleFoodItem.foodTitle,singleFoodItem.foodDescription,singleFoodItem.foodImagePath)">Order Now</button>-->
      <button md-button routerLink="/checkout" (click)="oncheckoutFooditem()">Order Now</button>
        <button md-button>Add to Cart</button>
      </md-card-actions>
      <!--<md-card-footer>price</md-card-footer>-->
    </md-card>
    <!-- END -->
  </div>
</div>
