<div>
  <md-toolbar>
    <app-nav-back [location]="this.location"></app-nav-back>
     <span>My Cart({{itemsInCart}})</span>
  </md-toolbar>
  <div class="row">
    <div class="foolong-col-4 foolong-col-m-6">
      <md-card *ngFor="let fcitems of foodCartItems; let i = index">
        <h4>{{i+1}}. {{fcitems.foodTitle}}</h4>
        <!--<md-card-subtitle>One portion serves two people</md-card-subtitle>-->
        <md-card-title-group>
          <img md-card-sm-image [src]="fcitems.foodImagePath" alt="fcitems.foodTitle">
          <md-card-subtitle>Seller: Ambikesh</md-card-subtitle>
          <md-card-subtitle>Serves 2 per portion.</md-card-subtitle>
          <md-card-subtitle>INR 200 per portion.</md-card-subtitle>
        </md-card-title-group>
        <md-card-actions>
          <button md-icon-button><md-icon>remove</md-icon></button>
          <span>1</span>
          <button md-icon-button><md-icon>add</md-icon></button>
          <span style="font-weight:bold">INR 200</span>
          <button md-icon-button><md-icon style="color: red">delete_sweep</md-icon></button>
        </md-card-actions>
      </md-card>
      <div style="position:fixed; bottom:0px;left:0%;width:100%; margin-right:10px; background-color:#F5F5F5">
      <md-list>
        <md-list-item md-header>Cart Summary:  ({{itemsInCart}}) Items</md-list-item>
        <md-list-item>Amount Payable: *INR 200</md-list-item>
      </md-list>
      </div>
    </div>
  </div>
</div>
<div class="done">
  <a md-fab>
    <md-icon>check</md-icon>
  </a>
</div>