<div class="row">
  <div class="foolong-col-3 foolong-col-m-6" 
       *ngFor="let card of cards;">
    <md-card>
      <md-card-header>
        <div md-card-avatar style="background-image:url('../../assets/images/sounth.jpeg')"></div>
        <md-card-title>Ambikesh</md-card-title>
        <md-card-subtitle>{{card.text}}</md-card-subtitle>
      </md-card-header>
      <img style="height:240px;" md-card-image [src]="card.url">
      <md-card-content style="height:50px">{{card.desc}}</md-card-content>
      <md-card-actions>
        <button md-button>Order Now</button>
        <button md-button>Add to Cart</button>
      </md-card-actions>
      <!--<md-card-footer>price</md-card-footer>-->
    </md-card>
    <!-- END -->
  </div>
</div>
