<md-toolbar>
    <button style="margin-right:1em"
        md-icon-button 
        routerLink="/" 
        routerLinkActive="Active" 
        [routerLinkActiveOptions]="{exact: true}">
        <md-icon style="font-size:2em;">arrow_back</md-icon>
    </button>
    <md-input-container color="accent" floatPlaceholder="never" style="width: 100%;" >
        <input mdInput md-autofocus type="search" rows="1" placeholder="search...">
    </md-input-container>
</md-toolbar>
<div class="search-container">
    <p>Your search result should appear here...</p>
</div>
