<md-toolbar>
    <button style="margin-right:1em"
        md-icon-button 
        routerLink="/" 
        routerLinkActive="Active" 
        [routerLinkActiveOptions]="{exact: true}">
        <md-icon style="font-size:2em;">arrow_back</md-icon>
    </button>
<md-input-container style="width: 100%;">
      <textarea mdInput placeholder="Search..." rows="1"></textarea>
    </md-input-container>
    <!--At your service sir!-->
</md-toolbar>
<div class="search-container">
    <p>Your search result should appear here...</p>
</div>
