<div>
    <md-toolbar>
        <app-nav-back [location]="previousPage"></app-nav-back>
        <div>
            <app-search-icon></app-search-icon>
            <app-cart-icon></app-cart-icon>
            <app-account-icon></app-account-icon>
        </div>
    </md-toolbar>
    <div *ngIf="foodItem">
        <md-card>
                Served By: Ambikesh* 
                <!-- <md-icon style="float:right">chat</md-icon> -->
                <br> <br>
            <md-card-content style="display:flex;justify-content: space-between">
                <md-icon color="accent">motorcycle</md-icon>
                <md-icon>directions_run</md-icon>
                <md-icon>attach_money</md-icon>
                <md-icon>credit_card</md-icon>
            </md-card-content>
        </md-card>
        <md-card style="margin-top:10px">
            <img md-card-image [src]="foodItem.foodImagePath" alt="xyz">
            <md-card-content>
                <md-card-title>{{foodItem.foodTitle}}</md-card-title>
                <md-card-subtitle style="color:#F4511E">INR 200</md-card-subtitle>
                {{foodItem.foodDescription}}
            </md-card-content>
        </md-card>
        <div>
            <md-card style="margin-top:10px">
                Ratings & Reviews
                <md-icon style="float:right" *ngFor="let start of [1,2,3,4,5]">star_border</md-icon>
            </md-card>
            <md-list>
                <md-list-item *ngFor="let rating of [1,2,3,4,5]">Product Reivew: {{rating}}</md-list-item>
            </md-list>
        </div>
        <div class="done">
            <a md-fab routerLink="/food-cart" routerLinkActive="active" (click)="onAddToCart()">
                <md-icon>add</md-icon>
            </a>
        </div>
    </div>
</div>